<div id="all-page">
  <h1>Stupid coach</h1>

  <form action="/answer">
    <input type="text" name="user-ask" placeholder="Write to your coach" id="form-space">
    <input type="submit" value="Ask!" id="btn">
  </form>
</div>




